<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img
          src="https://raw.githubusercontent.com/camilacarvalho/twooaks/master/src/assets/btd/btd.png"
          alt="logo do aplicativo bíblia todo dia"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong> Bíblia Todo Dia</strong> <small> (EM BREVE) </small> <br />
          O aplicativo Bíblia Todo Dia foi criado com o propósito de lhe ajudar
          na leitura da Bíblia de forma mais prática, seguindo o seu ritmo e com
          o tipo de leitura de sua preferência.
        </p>
      </div>

      <div class="buttons has-addons">
        <a class="button" href="https://sites.google.com/view/biblia-todo-dia">
          <p class="subtitle is-6">Blog</p></a
        >
        <a class="button is-primary is-selected" href="">
          <p class="subtitle is-6">Download</p></a
        >
      </div>
    </div>
  </article>
</div>
