<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img
          src="https://raw.githubusercontent.com/camilacarvalho/twooaks/master/src/assets/omeqm/maca.png"
          alt="Imagem do aplicativo o mestre é quem manda"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>O Mestre é quem manda</strong><br />
          O MESTRE É QUEM MANDA é um aplicativo inspirado na brincadeira o
          mestre mandou e promete lhe render muitas risadas.
        </p>
      </div>

      <div class="buttons has-addons">
        <a
          class="button"
          href="https://sites.google.com/view/o-mestre-quem-manda"
        >
          <p class="subtitle is-6">Blog</p></a
        >
        <a
          class="button is-primary is-selected"
          href="https://play.google.com/store/apps/details?id=com.a2oak.omestreehquemmanda"
        >
          <p class="subtitle is-6">Download</p></a
        >
      </div>
    </div>
  </article>
</div>
